{
  "env": {{ toPrettyJson .claude.env
    | replace "\r\n" "\n"
    | trimSuffix "\n"
    | replace "\n" "\n  " -}},
  "permissions": {
    "allow": [
      "Bash(./gradlew:*)",
      "Bash(awk:*)",
      "Bash(cat:*)",
      "Bash(curl:*)",
      "Bash(docker:*)",
      "Bash(echo:*)",
      "Bash(fd:*)",
      "Bash(find:*)",
      "Bash(find:*)",
      "Bash(fotingo:*)",
      "Bash(git add:*)",
      "Bash(git cherry-pick:*)",
      "Bash(git commit:*)",
      "Bash(git ls:*)",
      "Bash(git rebase:*)",
      "Bash(git reset)",
      "Bash(git reset:*)",
      "Bash(git rm:*)",
      "Bash(git stash:*)",
      "Bash(go test:*)",
      "Bash(go test:*)",
      "Bash(grep:*)",
      "Bash(kubectl kustomize:*)",
      "Bash(kustomize:*)",
      "Bash(ls:*)",
      "Bash(mkdir:*)",
      "Bash(mmdc:*)",
      "Bash(mv:*)",
      "Bash(node:*)",
      "Bash(npm:*)",
      "Bash(npx:*)",
      "Bash(openspec:*)",
      "Bash(pre-commit:*)",
      "Bash(python3:*)",
      "Bash(rg:*)",
      "Bash(rm:*)",
      "Bash(sed:*)",
      "Bash(terraform init:*)",
      "Bash(terraform fmt:*)",
      "Bash(terraform validate:*)",
      "Bash(wc:*)",
      "Bash(yarn:*)",
      "WebFetch(domain:github.com)",
      "WebSearch"
    ],
    "deny": []
  },
  "model": "opus",
  "enabledPlugins": {
    "code-simplifier@claude-plugins-official": true,
    "go@tagoro9": true,
    "spring-boot@tagoro9": true,
    "typescript-lsp@claude-plugins-official": true
  },
  "extraKnownMarketplaces": {
    "tagoro9": {
      "source": {
        "source": "github",
        "repo": "tagoro9/dotfiles"
      }
    }
  },
  "alwaysThinkingEnabled": true
}
