layout {
  cwd "."

  pane split_direction="vertical" {
    pane command="yazi" close_on_exit=false size="20%"
    pane split_direction="horizontal" size="60%" {
      pane size="75%"
      pane size="25%"
    }
    pane command="lazygit" close_on_exit=false size="20%"
  }

  pane size=1 borderless=true {
    plugin location="file:~/.config/zellij/plugins/zjstatus-v0.22.0.wasm" {
      hide_frame_for_single_pane false
      border_enabled false
      border_char "─"
      border_format "#[fg=#6C7086]{char}"
      border_position "top"

      format_left  "{mode}#[fg=#89B4FA,bold] 󰆍 {session}"
      format_center "{tabs}"
      format_right "{swap_layout}{datetime}"
      format_space ""

      mode_normal          "#[fg=#282A36,bg=#8BE9FD,bold] NORMAL #[fg=#282A36,bg=#8BE9FD] shell "
      mode_locked          "#[fg=#282A36,bg=#FF5555,bold] LOCKED #[fg=#282A36,bg=#FF5555] Ctrl-g "
      mode_resize          "#[fg=#282A36,bg=#FFB86C,bold] RESIZE #[fg=#282A36,bg=#FFB86C] hjkl +- "
      mode_pane            "#[fg=#282A36,bg=#50FA7B,bold] PANE #[fg=#282A36,bg=#50FA7B] focus "
      mode_tab             "#[fg=#282A36,bg=#BD93F9,bold] TAB #[fg=#282A36,bg=#BD93F9] switch "
      mode_scroll          "#[fg=#282A36,bg=#F1FA8C,bold] SCROLL #[fg=#282A36,bg=#F1FA8C] history "
      mode_enter_search    "#[fg=#282A36,bg=#FF79C6,bold] SEARCH #[fg=#282A36,bg=#FF79C6] input "
      mode_search          "#[fg=#282A36,bg=#FF79C6,bold] SEARCH #[fg=#282A36,bg=#FF79C6] next/prev "
      mode_rename_tab      "#[fg=#282A36,bg=#FF79C6,bold] RENAME TAB #[fg=#282A36,bg=#FF79C6] edit "
      mode_rename_pane     "#[fg=#282A36,bg=#FF79C6,bold] RENAME PANE #[fg=#282A36,bg=#FF79C6] edit "
      mode_session         "#[fg=#282A36,bg=#6272A4,bold] SESSION #[fg=#F8F8F2,bg=#6272A4] detach "
      mode_move            "#[fg=#282A36,bg=#FFB86C,bold] MOVE #[fg=#282A36,bg=#FFB86C] reorder "
      mode_prompt          "#[fg=#282A36,bg=#8BE9FD,bold] PROMPT #[fg=#282A36,bg=#8BE9FD] confirm "
      mode_tmux            "#[fg=#282A36,bg=#FFC387,bold] TMUX #[fg=#282A36,bg=#FFC387] prefix "
      mode_default_to_mode "normal"

      tab_normal               "#[fg=#6272A4,bold] {index} #[fg=#6C7086] {name}{fullscreen_indicator}{sync_indicator}{floating_indicator}"
      tab_active               "#[fg=#8BE9FD,bold] {index} #[fg=#F8F8F2,bold,italic] {name}{fullscreen_indicator}{sync_indicator}{floating_indicator}"
      tab_separator            "#[fg=#44475A]  │  "
      tab_rename               "#[fg=#FFB86C,bold] {index} #[fg=#F8F8F2,bold] {name}{floating_indicator}"
      tab_fullscreen_indicator " □"
      tab_sync_indicator       " <>"
      tab_floating_indicator   " 󰉈"

      swap_layout_format        "#[fg=#6272A4,bold] {name} #[fg=#44475A]│ "
      swap_layout_hide_if_empty "true"

      datetime          "#[fg=#9399B2] {format} "
      datetime_format   "%A, %d %b %Y %H:%M"
      datetime_timezone "America/Los_Angeles"
    }
  }
}
